---
import BaseLayout from "~/layouts/BaseLayout.astro";
import PageLayout from "~/components/PageLayout.astro";
import BookGrid from "~/components/BookGrid.astro";
import { books } from "~/data/books";
---

<BaseLayout
  title="Clay Coffman — Bookshelf"
  description="Books I've rated 5 stars in my Calibre library."
>
  <PageLayout>
    <div class="py-12">
      <div class="mb-8">
        <h1 class="text-h2 mb-3">Bookshelf</h1>
        <p class="text-muted">
          These are books that I either enjoyed enough to want to read them
          again, or had a profound impact on my life (or both, in some
          cases).
        </p>
        <p class="text-muted">
          <em
            >Technically, they are books I've rated 5-stars in Calibre, which
            I also host on this server.</em
          >
        </p>
      </div>
      <BookGrid books={books} />
    </div>
  </PageLayout>
</BaseLayout>
