---
import BaseLayout from "~/layouts/BaseLayout.astro";
import PageLayout from "~/components/PageLayout.astro";
import SectionHeader from "~/components/SectionHeader.astro";
---

<BaseLayout
  title="Clay Coffman — Projects"
  description="Projects I'm working on."
>
  <PageLayout>
    <div class="py-12">
      <SectionHeader>Projects</SectionHeader>
      <p class="text-muted">Under construction...</p>
    </div>
  </PageLayout>
</BaseLayout>
