---
import BookCard from "./BookCard.astro";
import type { Book } from "~/data/books";

interface Props {
  books: Book[];
}

const { books } = Astro.props;
---

{
  books.length === 0 ? (
    <div class="py-12 text-center">
      <p class="text-muted">No books found. Check back later!</p>
    </div>
  ) : (
    <div class="grid grid-cols-3 gap-x-3 gap-y-12 md:grid-cols-5 md:gap-x-4 md:gap-y-14 lg:grid-cols-7 xl:grid-cols-8">
      {books.map((book) => (
        <BookCard book={book} />
      ))}
    </div>
  )
}
